*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    --text-color: #443c3a;
}
.content_container
{
    margin:1rem 3rem ;
}
h3 
{
    color: var(--text-color);
}
ul 
{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
a
{
    text-decoration: none;
}
nav
{
    margin: 1rem 0;
}
nav li
{
    background-color: #e5e5e5;
    padding: .5rem 1.5rem;
    text-align: center;
    border-radius: 50px;
}
nav li a    
{
    /* background-color: #e5e5e5; */
    color: var(--text-color);
    font-size: smaller;
    font-weight: 700;
    /* padding: .7rem; */
}
nav a span 
{
    display: block;
    font-style: italic;
    font-size: 8pt; 
    margin-top: .3rem;
    font-weight: 300;
}
