*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.question
{
    width: 100vw;
    padding: 6px;
    background-color: #d85824;
    color: white;
    margin: 5px;
    cursor: pointer;
}
label
{
    cursor: pointer;
    margin-left: .2rem;
}
h4
{
    display: inline-block;
    margin-left: .2rem;
    position: relative;
    bottom: .39rem;
}
.minus 
{
    display: none;
    position: relative;
    bottom: .2rem;
}
.plus, .minus
{
    font-size: 2rem;
}
.answer
{
    margin: .8rem 1rem 1.4rem;
    display: none;
}
input:checked + .question label .plus
{
    display: none;
}
input:checked + .question label .minus
{
    display: inline-block;
}
input:checked + .question + .answer
{
    display: block;
}
