*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content h2
{
    margin: 30px 0;
    color: green;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.content h2 > span
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 100%;
    overflow: hidden;
    transition: top .5s ease;
}
h2 > span > span
{
    color: red;
    position: absolute;
    bottom: 0;
}
.content h2:hover > span
{
    top: 0;
}