ul
{
    list-style: none;
}
label
{
    position: relative;
    user-select: none;
}
label::before
{
    content: "";
    display: inline-block;
    margin-right: 5px;
    border: 2px solid green;
    width: 12px;
    height: 12px;
}
label::after
{
    content: "";
    display: inline-block;
    border: solid white;
    border-width: 1px 1px 0 0;
    width: 6px;
    height: 3px;
    rotate: 125deg;
    position: absolute;
    left: 4px;
    top: 3px;
    display: none;
}
input:checked + label::after
{
    display: inline-block;
}
input:checked + label::before
{
    background-color: green;
}